<freelaw-header></freelaw-header>
<section class="main">
    <freelaw-dashboard-card 
        title="Contato"
        subtitle="Quantidade de contatos cadastrados"
        [counter]="contactCount"
        route="user"
        buttonMessage="Ir para lista"
    ></freelaw-dashboard-card>
    <freelaw-dashboard-card 
        title="Processo"
        subtitle="Quantidade de processos cadastrados"
        [counter]="litigationCount"
        route="litigation"
        buttonMessage="Ir para lista"
    ></freelaw-dashboard-card>
</section>